@{
    Layout = null;
}
<html lang="en">
<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- CSRF Token -->
<meta name="csrf-token" content="Gq9xaPJd6QcK04BkRXQqTefKpFmjrekn9sVRAUEm">

<title>NamyWork</title>


<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Site Description Here">

<link href="/Content/Theme2/css/stack-interface.css" rel="stylesheet" type="text/css" media="all">
<link href="/Content/Theme2/css/socicon.css" rel="stylesheet" type="text/css" media="all" />
<link href="/Content/Theme2/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="/Content/Theme2/css/flickity.css" rel="stylesheet" type="text/css" media="all" />
<link href="/Content/Theme2/css/theme-greensea.css" rel="stylesheet" type="text/css" media="all" />
<link href="/Content/Theme2/css/custom.css" rel="stylesheet" type="text/css" media="all" />
<link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700" rel="stylesheet" type="text/css">
<link href="/Content/Theme2/css/font-roboto.css" rel="stylesheet" type="text/css">

<link href="/Content/Theme2/img/Namywork_favicon.png" rel="shortcut icon" type="image/jpeg">

  </head>

<body ng-app="Stev" class="" data-smooth-scroll-offset='64'>
    <a id="start"></a>
    <div class="nav-container">
        <div class="via-1489413233751" via="via-1489413233751" vio="NamyWork">
            <div class="bar bar--sm visible-xs">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-3 col-sm-2">
                            <a href="index-2.html">
                                <img class="logo logo-dark" alt="logo" src="/Content/Theme2/img/namywork-logo.png">
                                <img class="logo logo-light" alt="logo" src="/Content/Theme2/img/namywork-logo.png">
                            </a>
                        </div>
                        <div class="col-xs-9 col-sm-10 text-right">
                            <a href="#" class="hamburger-toggle" data-toggle-class="#menu1;hidden-xs hidden-sm"> <i class="icon icon--sm stack-interface stack-menu"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
            <nav id="menu1" class="bar bar--sm bar-1 hidden-xs hiddem-sm bar--absolute bar--transparent" data-scroll-class="100vh:pos-fixed">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2 col-sm-2 hidden-xs">
                            <div class="bar__module">
                                <a href="index-2.html"><img class="logo logo-dark" alt="logo" src="/Content/Theme2/img/namywork-logo.png"> <img class="logo logo-light" alt="logo" src="/Content/Theme2/img/namywork-logo.png"> </a>
                            </div>
                        </div>
                        <div class="col-md-10 col-sm-12 text-right">
                            <div class="bar__module">
                                <ul class="menu-horizontal">
                                    @*<li>
                    <a href="index.html" class="inner-link">
                        Home
                    </a>
                </li>*@
                                    <li>
                                        <a href="index.html#about-us" class="inner-link">
                                            About
                                        </a>
                                    </li>
                                    <li>
                                        <a href="index.html#products" class="inner-link">
                                            Products
                                        </a>
                                    </li>
                                    @*<li>
                                        <a href="index.html#contact" class="inner-link">
                                            Contact
                                        </a>
                                    </li>*@
                                </ul>
                            </div>
                            <div class="bar__module" style="margin-left:3px">
                                <a class="btn btn--sm btn--primary type--uppercase" href="/account">
                                    <span class="btn__text">
                                        Log in / Sign up
                                    </span>
                                </a>
                            </div>
                            <div class="bar__module" style="margin-left:3px">
                                <a class="btn btn--sm btn--primary type--uppercase" href="/account#!/fsignup">
                                    <span class="btn__text">
                                        Become a freelancer
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- <div class="main-container">
     -->
    <div ng-controller="ServicesCtrl as model" class="main-container">
        <section class="cover height-70 imagebg text-center slider slider--ken-burns parallax" data-arrows="true" data-paging="true">

            <ul class="slides">
                <li class="imagebg" data-overlay="4">
                    <div class="background-image-holder">
                        <img alt="background" src="/Content/Theme2/img/namywork-Hero2.jpg">
                    </div>
                    <div class="container pos-vertical-center">
                        <div class="row">
                            <div class="col-sm-12 text-left">
                                <h1> Welcome to NamyWork</h1>
                                <p class="lead">
                                    We are here to unlock problems
                                    <br> Idea speaks!
                                </p>
                                <div class="modal-instance block">
                                    <div class="modal-container">
                                        <div class="modal-content bg-dark" data-width="60%" data-height="60%">
                                            <iframe allowfullscreen="allowfullscreen" src="#?autoplay=1"></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="imagebg" data-overlay="4">
                    <div class="background-image-holder">
                        <img alt="background" src="/Content/Theme2/img/namywork_hero.jpg">
                    </div>
                    <div class="container pos-vertical-center">
                        <div class="row">
                            <div class="col-sm-12 text-left">
                                <h1>Best Freelancer are here for hire</h1>
                                <p class="lead"> Faster, Reliable and Perfect Work </p>
                                <a class="btn btn--primary type--uppercase" href="#">
                                    <span class="btn__text">
                                        Our Service
                                    </span>
                                </a>

                            </div>
                        </div>
                    </div>
                </li>

                <li class="imagebg" data-overlay="4">
                    <div class="background-image-holder">
                        <img alt="background" src="/Content/Theme2/img/namywork_hero.jpg">
                    </div>
                    <div class="container pos-vertical-center">
                        <div class="row">
                            <div class="col-sm-12 text-left">
                                <h1> Check out our Expert </h1>
                                <p class="lead"> World Class Freelancer, The Problem Solver </p>
                                <a class="btn btn--primary type--uppercase" href="#">
                                    <span class="btn__text">
                                        Learn more
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>

            </ul>

        </section>

        <a id="" class="in-page-link"></a>

        <section class="text-center">
            <div class="container">
                
                <h3>Available Service</h3>
                <div class="row ">
                    <div class="col-sm-3">
                        <label for="lblService">Service</label>
                        <select class="form-control" ng-init="model.Service.JobTitle = model.Services[0]" name="" id="form_service" ng-model="model.Service" ng-options="service.JobTitle for service in model.Services">
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <label for="lblCategory">Category</label>
                        <select class="form-control" ng-change="model.catSelected(model.Category)" ng-init="model.Category.CategoryName = model.Categories[0]" name="form_category" id="form_category" ng-model="model.Category" ng-options="category.CategoryName for category in model.Categories">
     
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <label for="State">State</label>
                        <select class="form-control" ng-change="model.citySelected(model.State)" ng-init="model.City.CityName = model.Cities[0]" name="form_location" id="form_location" ng-model="model.City" ng-options="city.CityName for city in model.Cities">
                        </select>
                    </div>
                </div>
                    <div class="post_thumb col-sm-3" ng-repeat="service in model.Services">
                        <div class="thumbnail_image">

                            <a href="#"><img class="my_image_thumb" ng-src="data:image/png;base64,{{service.ImageUrl}}" width="100%" height="150" alt="#"></a>
                        </div>

                        <div class="user_ratings">
                            <div class="padd10_m">
                                <img src="" width="15">
                                <img src="" width="15">
                                <img src="" width="15">
                                <img src="" width="15">
                                <img src="" width="15">(0)
                            </div>
                        </div>

                        <div class="gridview_title">
                            <div class="padd10_m">
                                <a class="grid_view_url_thing" href="#">{{service.JobTitle}}</a>
                            </div>

                        </div>


                        <div class="user_and_flag">
                            <div class="padd10_m">

                                by <a href="#">{{}}</a> &nbsp; &nbsp;
                            </div>
                            <div class="prc_man float-right">{{service.JobPrice}}</div>
                        </div>

                    </div>
           </div>
        </section>


        <a id="about-us" class="in-page-link"></a>
        <section class="switchable feature-large switchable--switch" style="padding-top: 0em">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <img alt="Image" class="border--round box-shadow-wide" src="/Content/Theme2/img/about_namywork.jpg">
                    </div>
                    <div class="col-sm-6 col-md-5">
                        <div class="switchable__text">
                            <h2>By NamyWork, For Freelancer</h2>
                            <p class="lead"> NamyWork delivers an integrated approach to consumer media and web presence in key high-value vertical markets. We offer a range of options to suit your every need and provide access to unlimited premium online packages. </p><a href="#">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <a id="" class="in-page-link"></a>
        <section class="text-center bg--secondary">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-10">
                        <div class="slider" data-paging="true">
                            <ul class="slides">
                                <li>
                                    <div class="testimonial">
                                        <blockquote> “NamyWork provides professional and accommodating services plus their technical support are knowledgeable and friendly.” </blockquote>
                                        <h5>Fari pos-relativeOluwatoyin</h5> <span>Web Designer - Lagos</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="testimonial">
                                        <blockquote> “Any time I had an issue it was resolved...I also have dealt with the tech support....very helpful and pleasant.” </blockquote>
                                        <h5>Habeeb Sanni</h5> <span>Artist - Lagos</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="testimonial">
                                        <blockquote> “NamyWork provides professional and accommodating services plus their technical support are knowledgeable and friendly.” </blockquote>
                                        <h5>Fari Oluwatoyin</h5> <span>Web Designer - Lagos</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <a id="contact" class="in-page-link"></a>
        <footer class="text-center-xs space--xs bg--dark ">
            <div class="container">
                <div class="row">
                    <div class="col-sm-7">
                        <ul class="list-inline">
                            <li>
                                <a href="#">
                                    <span class="h6 type--uppercase">About</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="h6 type--uppercase">Products</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="h6 type--uppercase">Contact</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-5 text-right text-center-xs">
                        <ul class="social-list list-inline list--hover">
                            <li>
                                <a href="#">
                                    <i class="socicon socicon-google icon icon--xs"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="socicon socicon-twitter icon icon--xs"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="socicon socicon-facebook icon icon--xs"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="socicon socicon-instagram icon icon--xs"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--end of row-->
                <div class="row">
                    <div class="col-sm-7">
                        <span class="type--fine-print">
                            &copy;
                            <span class="update-year"></span> NamyWork
                        </span>
                        <a class="type--fine-print" href="#">Privacy Policy</a>
                        <a class="type--fine-print" href="#">Terms of Service</a>
                    </div>
                    <div class="col-sm-5 text-right text-center-xs">
                        <span class="type--fine-print">Made in Naija</span> <img alt="Nigeria Flag" class="flag" src="/Content/Theme2/img/nigeria.png">
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </footer>
        <!--   </div> -->
    </div>

    <a class="back-to-top inner-link" href="#start" data-scroll-class="100vh:active">
        <i class="stack-interface stack-up-open-big"></i>
    </a>


    <script src="/Content/Theme2/js/jquery-3.1.1.min.js"></script>
    <script src="/Content/Theme2/js/flickity.min.js"></script>
    <script src="/Content/Theme2/js/parallax.js"></script>
    <script src="/Content/Theme2/js/countdown.min.js"></script>
    <script src="/Content/Theme2/js/smooth-scroll.min.js"></script>
    <script src="/Content/Theme2/js/scripts.js"></script>

    <!-- Application Libraries -->
    <script src="~/Scripts/libs/toastr/toastr.min.js"></script>
    <script src="~/Scripts/libs/moment/moment.js"></script>
    <script src="~/Scripts/libs/angular/angular.js"></script>
    <script src="~/Scripts/libs/angular-animate/angular-animate.min.js"></script>
    <script src="~/Scripts/libs/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="~/Scripts/libs/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

    <!-- Module -->
    <script src="~/Scripts/app/Account/app.js"></script>
    <script src="~/Scripts/app/service/app.js"></script>
    <script src="~/Scripts/app/infrastructure/modules.js"></script>

    <!-- Utils -->
    <script src="~/Scripts/app/infrastructure/utils/constants.js"></script>
    <script src="~/Scripts/app/infrastructure/utils/Interceptors.js"></script>

    <!-- Services -->
    <script src="~/Scripts/app/infrastructure/services/storage.js"></script>
    <script src="~/Scripts/app/infrastructure/services/notify.js"></script>
    <script src="~/Scripts/app/infrastructure/services/file.js"></script>
    <script src="~/Scripts/app/infrastructure/services/http.js"></script>
    <script src="~/Scripts/app/infrastructure/services/domain.js"></script>

    <!-- Controller -->
    <script src="~/Scripts/app/service/controllers.js"></script>

    <script>
        angular.module("Stev", ["Stev.Services", "Stev.Infrastructure", "ui.router", "ngAnimate"]);
    </script>
</body>

</html>
